#profile-banner {
    min-height: 200px;
    background-color: #00ff99;
}

#profile-content-top {
    height: 50px;
    background-color: #0099ff;
}

#profile-content-left {
    background-color: #669900;
}

#profile-content-right {
    background-color: #cc0000;
}